@page "/PortfolioDetail/{Id:int}"

@attribute [Authorize]

@if (isLoadingData)
{
    @* loading panel, styles are at the end *@
    <div class="loading-panel-wrapper">
        <div class="loading-panel-overlay"></div>
        <TelerikLoader Size="@LoaderSize.Medium" Type="@LoaderType.ConvergingSpinner" ThemeColor="@ThemeColors.Primary" />
    </div>
}
@if (_allowVaRChart)
{
    <div>
        <h4 class="text-dark font-weight-bold mb-3">Portfolio Value at Risk</h4>
        <!-----Portfolio Var chart div----->
        <div id="chart_wrapper" class="col-12 px-0">
            <div style="clear:both;height:@VaRPortfolioChartHeight" id="var_chart_div"></div>
        </div>
    </div>
}
@if (_allowVaRListingChart)
{
    <div>
        <h4 class="text-dark font-weight-bold mb-4">Portfolio Listing Value at Risk</h4>
        <!-----Portfolio Listing Var chart div----->
        <div id="chart_wrapper" class="col-12 px-0">
            <div style="clear:both;height:@VaRPortfolioListingChartHeight" id="var_listing_chart_div"></div>
        </div>
    </div>
}
@if (_allowVaRGrid)
{
    <div class="d-flex mt-3 justify-content-center">
        <TelerikGrid Data=@VaRDetails Height="auto" Class="no-scroll mt-5" Pageable="false" Width="100%">
            <GridColumns>
                <GridColumn Field=@nameof(VaRModel.ListingName) Width="25%">
                    <HeaderTemplate>
                        <strong>Listing</strong>
                    </HeaderTemplate>
                    <Template>
                        @{
                            var varPortfolioListing = context as VaRModel;
                            var listingSymbol = (varPortfolioListing != null && !varPortfolioListing.ListingName.Equals(Constants.PORTFOLIO))
                                                            ? $"({varPortfolioListing.ConvertedSymbol})" : "";
                            <div>
                                @varPortfolioListing.ListingName @listingSymbol
                            </div>
                        }

                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(VaRModel.Value) Width="10%">
                    <HeaderTemplate>
                        <strong>Value</strong>
                    </HeaderTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(VaRModel.Weighting) Width="10%">
                    <HeaderTemplate>
                        <strong>Weighting</strong>
                    </HeaderTemplate>
                    <Template>
                        @((context as VaRModel).Weighting)%
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(VaRModel.ValueOfSafety) Width="10%">
                    <HeaderTemplate>
                        <strong>Value Of Safety</strong>
                    </HeaderTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(VaRModel.ValueAtRisk) Width="10%">
                    <HeaderTemplate>
                        <strong>Value At Risk</strong>
                    </HeaderTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(VaRModel.VaR) Width="10%">
                    <HeaderTemplate>
                        <strong>VaR</strong>
                    </HeaderTemplate>
                    <Template>
                        @((context as VaRModel).VaR)%
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(VaRModel.ExpectedReturn) Width="10%">
                    <HeaderTemplate>
                        <strong>Expected Return</strong>
                    </HeaderTemplate>
                </GridColumn>
                @*<GridColumn Field=@nameof(VaRModel.PotentialReturn) Title="Potential Return" Width="10%"></GridColumn>*@
                <GridColumn Field=@nameof(VaRModel.ExpectedRateOfReturn) Width="15%">
                    <HeaderTemplate>
                        <strong>Expected Rate Of Return</strong>
                    </HeaderTemplate>
                    <Template>
                        @((context as VaRModel).ExpectedRateOfReturn)%
                    </Template>
                </GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
}

@logger

